<h1>THIS IS THE ROOT PAGE</h1>
<<<<<<< HEAD
<% if current_user  %>
  <h3>Welcome, <%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
  <%= link_to "Continue as unregistered user", '/dashboard' %>
<% end %>
=======

<div class="greeting_root_block">

</div>

<div class="missing_persons_root_block">
  <%= link_to "Continue as unregistered user", '/dashboard' %>
</div>

<div class="visit_blog_root_block">
  Visit the Blog  --- This will become a link
</div>

<div class="login_create_root_block">
  Login or Create Account  --- This will become a link
</div>
>>>>>>> 2390bcdecd8596b21ee14c070c4e3ffbc00c0b44
