<!DOCTYPE html>
<html>
  <head>
    <title>TogetherWeFindThem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="/">Together We Find Them</a>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Members Login", '/' %>
        </li>
      </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
